require_relative '../validatable_interactor.rb'

module MODULE_NAME
  class CLASS_NAME < HanamiSample::ValidatableInteractor
    Validation.class_eval do
      validations do
        # your validation code goes here
      end
    end

    def initialize(params = {})
      super(params)
    end

    def call()
      # your code goes here
    end
  end
end
